*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
  -webkit-font-smoothing: antialiased;
}

#page-wrapper {
  width: 640px;
  background: #ffffff;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 1em 0;
  font-size: 1em;
}

details {
  border-radius: 3px;
  background: #eee;
  margin: 1em 0;
}

summary {
  background: #333;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
}

/* Style the summary when details box is open */
details[open] summary {
  background: #69c773;
  color: #333;
}

/* Custom Markers */
#custom-marker summary {
  font-size: 17px;
  vertical-align: top;
}

#custom-marker summary::-webkit-details-marker {
  display: none;
}

#custom-marker summary:before {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-icon-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

#custom-marker[open] summary:before {
  background-position: -18px 0;
}

#custom-marker[open] div {
  padding: 8px;
}

table {
  border: 0;
  width: 100%;
}

th,
td {
  vertical-align: top;
  text-align: left;
  padding: 0.5em;
  border-bottom: 1px solid #e6e6e6;
}

th {
  width: 200px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

li {
  display: inline;
  padding-right: 10px;
}

a {
  color: #08c;
  text-decoration: none;
}

button {
  float: right;
  background: #0288d1;
  border: 0;
  padding: 11px;
  /* margin: -6px -6px 0 0; */
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #01579b;
}

.selected-user-section {
  max-width: 25%;
  padding: 8px 16px;
}

.selected-user-post {
  margin-top: 16px;
}

/* helpers */
.user-section {
  width: 75%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
